body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }
.top {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    position: sticky;
    
}
.app_loginContainer{
    display: flex;
    padding-right: 10px;
}

.signIn:hover {
    background-color: #111;
}
.signUp:hover {
    background-color: #111;
}

.signIn > Button{
    color: white;
}
.signUp > Button{
    color: white;
}

.logOut > Button {
    color: white;
}

.landing {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}