.event {
    padding-left: 5%;
    padding-right: 10%;
    margin-bottom: 3%;
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.eventHeader {
    margin: 0;
    padding: 0;
}

.eventDesc {
    padding-bottom: 3%;
}

