.event {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.eventHeader {
    margin: 0;
    padding: 0;
}

.eventDesc {
    padding-left: 25px;
}

