.followButton {
    color: #333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #333;
    border-radius: 3px;
    width: 85px;
    height: 30px;
    cursor: hand;		    
  }

  .followButton:hover{
    cursor:pointer;
    background-color: #333;
    color: white;
  
  }