.modal{
  position:fixed;
  background-color: #888;
  background-color: rgba(0,0,0,.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width:500px;
  background-color: #fff;
}

.modal-header, .modal-footer{
  padding: 10px;
}

.modal-title{
  margin:0;
}

.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.submit-button{
  background-color:deepskyblue;
  float: right;
}

.end-style{
  margin: 4.5px;
}

.get-name{
  margin-top: 10px;
}

.get-description{
  margin-top: 10px;
}

.get-start-time{
  margin-top: 10px;
}