.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  .open-modal{
    border: none;
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgrey;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin-top: 1%;
    border-radius: 3px;
  }

  .open-modal:hover{
    background-color: #333;
    color: white;
    border-bottom: 1px solid white;
    cursor:pointer;
    border-radius: 3px;
  }

  .profile{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
  }

  .displayHeader{
    margin-top: 2%;
  }

  .dropDowns{
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-right: 1%;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3px;
  }